:root {
	--accent: #070417;
	/* --accent-hover: rgba(238,116,59,.7); */

	--left-sidebar-color-text: #D0DFEF;
	--left-sidebar-color-title: #F9FAFB;

	--background-color-dark: #000000;
	--background-color-navbar: #fff;
	--background-color-grey: var(--left-sidebar-color-title);
	--text-color: var(--background-color-dark);

	--grey: #727A89;
	--grey-text: #A5AAB7;
	--box-shadow: #DCE0E9;
	--error: #dc3545;

	--them-color:         #F4F5F7;
	--them-color-2:         #EFF4F9;
	--link-color:         var(--accent);
	--border-color:       var(--them-color);
	--border-color-input:       #ebc4ff;
	--tabel-hover:        #55276a;


	--hr-color: #6D43E1;
	--hr-color-2: #8F4DED;

	--blue: #4CA2EC;
	--navbar-height: 100px;
	--left-sidebar-width: 324px
}



@media (max-width: 1920px) {
}
@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
	:root {
		--navbar-height: 80px;
	}
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 800px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 533px) {
}
@media (max-width: 360px) {
}
@media (max-width: 320px) {
}
